html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item_class {
  height: 100%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.item_class:not(.collapse_btn):hover {
  background-color: #f6f8f8;
}

.item_class i[class^='el-icon'] {
  font-size: 18px;
  color: #606266;
}

.el-drawer.rtl {
  height: calc(100% - 61px) !important;
  top: 61px;
}

.dropdown-menu-container .dropdown_menu_list {
  margin-top: 8px;
}

.router-link-active {
  text-decoration: none;
}
